<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Bundle Name="InstallerBootstrapper" Version="1.0.0.0" Manufacturer="Ionut" UpgradeCode="353b299e-81a5-42cd-9e79-c1d2e32c24e3">
      <BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost">
        <PayloadGroupRef Id="TestInstallerPayload" />
      </BootstrapperApplicationRef>
		<Chain>
			<!-- TODO: Define the list of chained packages. -->
       <PackageGroupRef Id='NetFx45Web' />
			 <!--<MsiPackage Id="InstallDemo1" SourceFile="$(var.InstallerDemo1.TargetPath)" />-->
       <!--<MsiPackage Id="InstallDemo2" SourceFile="$(var.InstallerDemo2.TargetPath)" />-->
      <MsiPackage Id="InstallDemo3" SourceFile="$(var.InstallerDemo3.TargetPath)" />
      <MsiPackage Id="InstallDemo4" SourceFile="$(var.InstallerDemo4.TargetPath)" />
    </Chain>
	</Bundle>

  <!--Bootstrapper-->
  <Fragment>
    <PayloadGroup Id ="TestInstallerPayload">
      <Payload SourceFile="$(var.InstallerUI.TargetPath)"/>
      <Payload SourceFile="$(var.InstallerUI.TargetDir)\\BootstrapperCore.config" />
      <Payload SourceFile="$(var.InstallerUI.TargetDir)\\Microsoft.Deployment.WindowsInstaller.dll" />
    </PayloadGroup>
  </Fragment>
  
</Wix>