<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="9764738D-95D0-4BAA-A438-EC9660C0D2C5" Name="InstallerDemo2" Language="1033" Version="1.0.0.0" Manufacturer="Ionut" UpgradeCode="27c5a446-f7e8-43dc-8a76-92d3503d21df">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="InstallerDemo2" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="InstallerDemo2" />
			</Directory>
		</Directory>
	</Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent">
        <File Source="test2/test2.txt">
        </File>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>